#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navDiv {
  
}
.productsDiv {
  display: flex;
  
}
.productCard {
  display: flex;
  flex-direction: column;
  outline: solid white 1px;
  margin: 10px;
  padding: 15px;
}

.productImg {
  max-width: 200px;
}



